<!--Nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top"
	th:fragment="header">
	<a class="navbar-brand" th:href="@{/article}">Spring Mini Project</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/article}" th:text="#{article}">Article <span
					class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/article/add}"> <i class="fas fa-plus-circle"></i><span
					th:text="#{add}">Add More Article</span>
			</a></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" th:text="#{category}"> Category </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/category}" th:text="#{category.view}">View Category</a> <a
						class="dropdown-item" th:href="@{/category/add}" th:text="#{category.add}">Add Category</a>
				</div></li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			&nbsp;&nbsp;<a th:href="@{?lang=kh}"
				class="btn my-2 my-sm-0 btn-primary" th:text="#{kh}">Khmer</a> &nbsp;&nbsp;<a
				th:href="@{?lang=en}" class="btn my-2 my-sm-0 btn-warning" th:text="#{en}">English</a>
		</form>
	</div>
</nav>
<!-- end nav bar-->
