<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/master">

<head>

<title th:if="${addpage}?'Add Article':'Update Article'">Update</title>

</head>

<body>
	<div class="container-fluid" layout:fragment="content">
		<br /> <br /> <br />
		<h1 th:if="${addpage}?'Add Article':'Update Article'"></h1>
		<!-- Form -->
		<form th:object="${article}" th:action="${addpage}?'/article/add':'/article/update'" method="post" enctype="multipart/form-data">
			<div class="form-group row">
				<label th:text="#{article.id}" for="id" class="col-sm-2 col-form-label">ID
					#</label>
				<div class="col-sm-6">
					<input th:field="*{id}" type="text" class="form-control"  placeholder="article id" />
				</div>
			</div>
			<div class="form-group row">
				<label th:text="#{article.title}" for="title" class="col-sm-2 col-form-label">Title</label>
				<div class="col-sm-6">
					<input th:field="*{title}" type="text" class="form-control"
						placeholder="article title"/>
				</div>
				<div class="col-sm-4">
					<span
						th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
						style="color: red;"></span>
				</div>
			</div>
			<div class="form-group row">
				<label th:text="#{article.author}" for="author" class="col-sm-2 col-form-label">Author</label>
				<div class="col-sm-6">
					<input th:field="*{author}" type="text" class="form-control"
						placeholder="author name"/>
				</div>
				<div class="col-sm-4">
					<span
						th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
						style="color: red;"></span>
				</div>
			</div>
			<div class="form-group row">
				<label th:text="#{article.desc}" for="description" class="col-sm-2 col-form-label">Description</label>
				<div class="col-sm-6">
					<textarea th:field="*{description}" rows="4" class="form-control"
						placeholder="article description"></textarea>
				</div>
				<div class="col-sm-4">
					<span
						th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
						style="color: red;"></span>
				</div>
			</div>
			<div class="form-group row">
				<label th:text="#{category.name}" for="category" class="col-sm-2 col-form-label">Category</label>
				<div class="col-sm-10">
					<select th:field="*{category.id}" class="form-control">
						<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">1</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label th:text="#{article.select}" for="photoPath" class="col-sm-2 col-form-label">Select
					Photo</label>
					<input type="hidden" th:field="*{photoPath}"/>
				<div class="col-sm-6">
					<input type="file" class="form-control" id="file" name="file" accept="image/*"/>
				</div>
				<div class="col-sm-4">
					<span th:if="${fileEmpty==true}"
						style="color: red;">please select file before save data</span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-10">
					<input type="submit" class="btn btn-primary" th:value="${addpage}?'Save':'Update'"/>
					<a th:href="@{/article}" class="btn btn-danger">Cancel</a>
				</div>
			</div>
		</form>
		<!-- End form-->

	</div>

</body>

</html>