<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/master">

<head>

<title>Index</title>

</head>

<body>
	<div class="container-fluid" layout:fragment="content">
		<br /> <br /> <br />
		<div class="table-responsive table-striped">
		<h1 th:text="#{system.name}" style="text-align:center"></h1>
		
		<br/>
		
			<table class="table table-hover">
				<thead class="bg-primary" style="color: aliceblue">
					<tr>
						<th th:text="#{article.id}">ID #</th>
						<th th:text="#{article.title}">Title</th>
						<th th:text="#{article.author}">Author</th>
						<th th:text="#{article.desc}">Description</th>
						<th th:text="#{category.name}">Category</th>
						<th th:text="#{article.date}">Created Date</th>
						<th th:text="#{article.thumnail}">Thumnail</th>
						<th th:text="#{action}">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="article : ${articles}" th:object="${article}">
						<td th:text="*{id}">1</td>
						<td th:text="*{title}">Spring</td>
						<td th:text="*{author}">Rod Johnson</td>
						<td th:text="*{description}">Basic spring framework of java</td>
						<td th:text="*{category.name}">Programming</td>
						<td th:text="*{createDate}">23-30-2018</td>
						<td><img th:src="*{photoPath}" class="rounded-circle" width="150" height="150"/></td>
						<td><a th:href="@{/article/update/{id}(id=*{id})}"> <i
								class="fas fa-edit text-primary fa-2x"></i>
						</a> <a th:href="@{/article/view/{id}(id=*{id})}"> <i class="fas fa-eye text-success fa-2x"></i>
						</a> <a th:href="@{/article/delete/{id}(id=*{id})}" onclick="return confirm('Are you sure want to delete?')"> <i class="fas fa-trash fa-2x text-danger"></i>
						</a></td>
					</tr>
					
				</tbody>
			</table>

			<!--Pagination-->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item"><a th:class="${prev}==0?'page-link disabled':'page-link'" th:href="@{/article1(page=${prev})}"
						tabindex="-1" th:text="#{pre}">Previous</a></li>
					<li class="page-item" th:each="num : ${#numbers.sequence(1,totalPage)}"><a class="page-link" th:href="@{/article1(page=${num})}" th:text="${num}">4</a></li>
					<li class="page-item"><a th:class="${next}==${totalPage}?'page-link true':'page-link disabled false'" th:href="@{/article(page=${next})}" th:text="#{next}">Next</a></li>
				</ul>
			</nav>
			<!--End Pagination-->
		</div>
	</div>
</body>

</html>