<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/master">

<head>

<title th:if="${addpage}?'Add Category':'Update Category'">Update</title>

</head>

<body>
	<div class="container-fluid" layout:fragment="content">
		<br /> <br /> <br />
		<h1 th:if="${addpage}?'Add Article':'Update Article'"></h1>
		<!-- Form -->
		<form th:object="${category}" th:action="${addpage}?'/category/add':'/category/update'" method="post">
			<div class="form-group row">
				
				<div class="col-sm-6">
					<input th:field="*{id}" type="hidden" class="form-control"  placeholder="article id" />
				</div>
			</div>
			<div class="form-group row">
				<label th:text="#{article.title}" for="title" class="col-sm-2 col-form-label">Title</label>
				<div class="col-sm-6">
					<input th:field="*{name}" type="text" class="form-control"
						placeholder="category name"/>
				</div>
				<div class="col-sm-4">
					<span
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						style="color: red;"></span>
				</div>
			</div>
			<div class="form-group row">
				<label th:text="#{article.desc}" for="author" class="col-sm-2 col-form-label">Author</label>
				<div class="col-sm-6">
					<input th:field="*{description}" type="text" class="form-control"
						placeholder="description"/>
				</div>
				<div class="col-sm-4">
					<span
						th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
						style="color: red;"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<input type="submit" class="btn btn-primary" th:value="${addpage}?'Save':'Update'"/>
					<a th:href="@{/category}" class="btn btn-danger">Cancel</a>
				</div>
			</div>
		</form>
		<!-- End form-->

	</div>

</body>

</html>