<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/master">

<head>

<title>Index</title>

</head>

<body>
	<div class="container-fluid" layout:fragment="content">
		<br /> <br /> <br />
		<div class="table-responsive table-striped">
		<h1 th:text="#{system.name}" style="text-align:center"></h1>
			<table class="table table-hover">
				<thead class="bg-primary" style="color: aliceblue">
					<tr>
						<th th:text="#{article.id}">ID #</th>
						<th th:text="#{category.name}">Title</th>
						<th th:text="#{article.desc}">Description</th>
						<th th:text="#{action}">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${categorys}" th:object="${category}">
						<td th:text="*{id}">1</td>
						<td th:text="*{name}">Spring</td>
						<td th:text="*{description}">Rod Johnson</td>
						<td><a th:href="@{/category/update/{id}(id=*{id})}"> <i
								class="fas fa-edit text-primary fa-2x"></i>
						</a> <a th:href="@{/category/delete/{id}(id=*{id})}" onclick="return confirm('Are you sure want to delete?')"> <i class="fas fa-trash fa-2x text-danger"></i>
						</a></td>
					</tr>
					
				</tbody>
			</table>

			<!--Pagination-->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item"><a class="page-link" href="#"
						tabindex="-1" th:text="#{pre}">Previous</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#" th:text="#{next}">Next</a></li>
				</ul>
			</nav>
			<!--End Pagination-->
		</div>
	</div>
</body>

</html>