<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/master">

<head>

<title>View</title>

</head>

<body>
	<div class="container-fluid" layout:fragment="content">
		<br /> <br /> <br />
		<!--Image View-->
		<div class="card"
			style="width: 25rem; margin: auto; margin-bottom: 20px;">
			<img class="card-img-top" th:src="${article.photoPath}"
				alt="Card image cap"/>
			<div class="card-body">
				<h5 class="card-title" th:text="${article.title}">Card title</h5>
				<p class="card-text" th:text="${article.description}">Some quick example text to build on the
					card title and make up the bulk of the card's content.</p>
			</div>
			<ul class="list-group list-group-flush">
			<li class="list-group-item"><span th:text="#{article.id}" style="margin-right:20px;">ID #: </span><span th:text="${article.id}"></span></li>
				<li class="list-group-item"><span th:text="#{article.author}" style="margin-right:20px;">Author: </span><span th:text="${article.author}"></span></li>
				<li class="list-group-item"><span th:text="#{category}" style="margin-right:20px;">Category: </span><span th:text="${article.category.name}"></span></li>
				<li class="list-group-item"><span th:text="#{article.date}" style="margin-right:20px;">Created Date: </span><span th:text="${article.createDate}"></span></li>
			</ul>
			<div class="card-body">
				<a th:href="@{/article}" class="card-link" th:text="#{back}">Back</a>
			</div>
		</div>

	</div>

</body>

</html>